.bg{
	background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../images/bg2.jpg');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.content{
	margin-top: 100px;
}

.btnm {
  background: #333333;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btnm:hover {
  background: #333333;
  color: #ffffff;
  text-decoration: none;
}

.login-form{

}